// http://hslpicker.com/

$blue:     hsla(196, 100%, 47%, 1); //#00aeef
$black:    hsla(0, 0%, 0%, 1); //#000000
$orange:   hsla(38, 100%, 50%, 1); //#ffa100
$red:      hsla(358, 85%, 52%, 1); //#ed1c24
$white:    hsla(0, 100%, 100%, 1); //#ffffff

$gray_100: hsla(204, 45%, 98%, 1); //#f7fafc
$gray_200: hsla(210, 38%, 95%, 1); //#edf2f7
$gray_300: hsla(214, 32%, 91%, 1); //#e2e8f0
$gray_400: hsla(211, 25%, 84%, 1); //#cbd5e0
$gray_500: hsla(214, 20%, 69%, 1); //#a0aec0
$gray_600: hsla(216, 15%, 52%, 1); //#718096;
$gray_700: hsla(218, 17%, 35%, 1); //#4a5568;
$gray_800: hsla(218, 23%, 23%, 1); //#2d3748;
$gray_900: hsla(220, 26%, 14%, 1); //#1a202c;

$action_primary: hsla(358, 85%, 52%, 1); //#ed1c24
$action_secondary: hsla(196, 100%, 47%, 1); //#00aeef

$neutral_100: hsl(210, 36%, 96%); //#F0F4F8
$neutral_200: hsl(212, 33%, 89%); //#D9E2EC
$neutral_300: hsl(210, 31%, 80%); //#BCCCDC
$neutral_400: hsl(211, 27%, 70%); //#9FB3C8
$neutral_500: hsl(209, 23%, 60%); //#829AB1
$neutral_600: hsl(210, 22%, 49%); //#627D98
$neutral_700: hsl(209, 28%, 39%); //#486581
$neutral_800: hsl(209, 34%, 30%); //#334E68
$neutral_900: hsl(211, 39%, 23%); //#243B53
$neutral_999: hsl(209, 61%, 16%); //#102A43