$color_bg: $gray_200;
$color_tx: $black;

footer {
    display: block;
    width: 100%;
    background-color: $color_bg;
    margin: 0 auto;
    padding: 24px;
    position: relative;
    z-index:10;
    font-family: $font_head;
    font-size: $font_size;
    color: $color_tx;
}